* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-nav { 
    background-color: #171f30;
    height: 75px;
}

.logo-menu {
    float: left;
    color: #0cf25d;
    font-size: 25px;
    line-height: 70px;
    margin-left: 50px;
    font-weight: bold;
}

#menu-nav ul {
    list-style: none;
    float: right;
}

#menu-nav li {
    display: inline-block;
}

#menu-nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 22px;
    color: #0cf25d;
    line-height: 70px;
    font-weight: bold;
}

.div-geral {
    display: flex;
    width: 100%;
}

.div01 {
    width: 50%;
}

.div02 {
    width: 50%;
}

.conteudo-site {
    text-align: right;
    margin-top: 70px;
}

h1, h3 {
    color: #038c3e;
}

h1 {
    margin-right: 35px;
}

h3 {
    margin-right: 75px;
}

.form-site {
    text-align: right;
}

.email-form {
    background-color: #276e3b;
    border: none;
    outline: none;
    box-shadow: -5px 2px 10px 1px #00000060;
    width: 241px;
    height: 30px;
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-weight: bold;
    opacity: 0.8;
}

#btn-form {
    background-color: #54ae7680;
    border: none;
    width: 80px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    box-shadow: -5px 2px 10px 1px #00000060;
    margin-right: 39px;
}

hr {
    width: 410px;
    float: right;
    color: #89f7b3;
    border: 2px solid #89f7b3;
    border-radius: 30px;
    size: 100;
}

.conteudo-escrita {
    text-align: justify;
}

.conteudo-escrita p {
    margin-left: 150px;
    color: #13ce78;
    font-size: 16px;
    font-weight: bold;
}
